---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sosyal Medyada Beni Takip Edin"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 27 2024')}
	heroImage="/public/blog-placeholder-1.jpg"
<p>
    <a
      href="https://www.strava.com/athletes/esersevinc"
      rel="nofollow"
      target="_blank"
      >Strava</a
    >: Eser Sevinç
  </p>
  <p>Bisiklet ile yaptığım sürüşler ve rota bilgileri için.</p>
  <p>
    <a href="https://mastodon.social/@esersevinc" rel="nofollow" target="_blank"
      >Mastodon</a
    >: @esersevinc@mastodon.social
  </p>
  <p>Blog yazmaya değmeyecek ama paylaşmak istediğim konular.&nbsp;</p>
  <p>Genellikle Teknoloji, Linux ve Bisiklet üzerine gönderiler içeriyor.</p>

  <p>
    <a
      href="https://bsky.app/profile/esersevinc.bsky.social"
      rel="nofollow"
      target="_blank"
      >Bluesky</a
    >: esersevinc.bsky.social
  </p>
  <p>Şimdilik aktif kullanmıyorum, hiç kullanmaya da bilirim.</p>

  <p>
    İletişim ve iş birliği için
    <a href="https://blog.hayalmeyal.org/p/iletisim.html">İletişim Formu</a>
  </p>
  <p>
    <a
      href="https://www.linkedin.com/in/esersevinc/"
      rel="nofollow"
      target="_blank"
      >LinkedIn</a
    >: Eser Sevinç
  </p>

  <p>
    Uzun zamandır Instagram, Twitter ve Facebook&nbsp;&nbsp;kullanmıyorum, bu
    platformlarda aktif bir hesabım bulunmamaktadır.
  </p>
</Layout>
